#tiger{
width: 35%;
height: 250%; 
float: right; 
border-radius: 50%; 
margin-top: -20%;


} 
#info{
margin-top: 15%;
margin-left: 20%; 

} 
.apple{  
    width: 200px;

}   
 #division{
     padding: 20px;
 }